.container {
    margin: 0 auto;
    width: 935px;
    padding-left: 15px;
    padding-right: 15px;
    outline: solid red;
}

.header {
    padding: 71px 0px 92px 0px;
    outline: solid greenyellow;
    background-color: #04b916;
}

main {
    padding-bottom: 66px;
    background-color: #f6ff00;
}